fastapi
uvicorn[standard]
starlette
langchain-openai
dataclass-wizard
langchain
langgraph
redis
psycopg2-binary
SQLAlchemy
prometheus_client
bleach
psycopg-pool
langgraph-checkpoint-postgres
psycopg-binary
nest-asyncio
tzdata